<h1>Login</h1>
<form>
<div id="loginBox">
  <div>
  <div style="display: flex;flex-wrap: wrap;" class="box">
  <div class="group1">
<input type="email" required id="email" placeholder="Enter email">
<br>
<input type="password" required id="password" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
<br>
<button id="submitButton">Login</button>
</div>
<div class="group1">
  <img src="assets/images/loginimage.jpeg" alt="Laptop" width="70%"/>
</div>
</div>
<br>
<div class="signupstyle">
<p>New User? <a [routerLink]="['']" >Sign Up</a></p>
</div>
</div>
</div>
</form>
