<h1>Register</h1>
<h2>Sign Up</h2>
<form>
<div id="loginBox">
  <div>
  <div style="display: flex;flex-wrap: wrap;" class="box">
  <div class="group1">
<input type="email" required id="email" placeholder="Enter email">
<br>
<input type="text" required id="username" placeholder="Enter Username">
<br>
<input type="tel" required id="mobilenumber" placeholder="Enter Mobilenumber" pattern="[6789][0-9]{9}" maxlength="10">
<br>
<input type="password" required id="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password">
<br>
<input type="password" required id="confirmpassword" placeholder="Confirm Password">
<!--<a [routerLink]="['/user/login']"> <button id="submitButton">Submit </button> </a>-->
<button id="submitButton">Submit </button>
</div>
<div class="group1">
  <img src="assets/images/loginimage.jpeg" alt="Laptop" width="80%"/>
</div>
</div>
<br>
<div class="signupstyle">
<p>Already a user? <a [routerLink]="['/user/login']">Login</a></p>
</div>
</div>
</div>
</form>
