body{
    background-color: rgb(105, 104, 192);
}
.headcomp{
    background-color: rgb(9, 13, 71);
    padding: 32px 0 7px 0;
}
.title{
    margin: 0px;
    display: flex;
    list-style-type: none;
    
}
.logout{
    margin-left: auto;
    padding-right: 15px;
    color: aliceblue;
}
.brand{
    font-size: 26px;
    color: aliceblue;
}
.pages{
    margin-left: 5%;
    font-size: 18px;
    color: aliceblue;
}
.selected{
    font-size: 22px;
    color: aliceblue;
}
.pages a:hover{
font-size: 24px;
}
.productlist{
    min-width: 300px;
    max-width: 500px;
}
.product{
    padding-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius:30px;
    background:linear-gradient(transparent 80%,rgba(0,0,0,0.7) 20%);
    z-index:1;
    
}
.product img{
    position: relative;
    width: 100%;
    border-radius:30px;
    z-index: -1;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.price{
    display: flex;
}