<div class="headcomp">
    <ul class="title">
        <li class="brand">Fruits Crush</li>
            <li class="pages selected" id="productHomeButton"><a>Home</a></li>
            <li class="pages" id="productCartButton"><a>Cart</a></li>
            <li class="pages" id="productOrderButton"><a>My orders</a></li>
        <li class="logout" id="logout">Logout</li>
    </ul>
</div>
<div class="items">
<div class="productlist">
    <div class="product">
        <img src="\assets\images\grid1.jpg" alt="apple">
        <div class="price">
            <p style="margin-left: 5%;">Apple</p>
            <p style="margin-left: auto;margin-right: 5%;">$40</p>
        </div>
    </div>
</div>
<div class="productlist">
    <div class="product">
        <img src="\assets\images\grid1.jpg" alt="apple">
        <div class="price">
            <p style="margin-left: 5%;">Apple</p>
            <p style="margin-left: auto;margin-right: 5%;">$40</p>
        </div>
    </div>
</div>
<div class="productlist">
    <div class="product">
        <img src="\assets\images\grid1.jpg" alt="apple">
        <div class="price">
            <p style="margin-left: 5%;">Apple</p>
            <p style="margin-left: auto;margin-right: 5%;">$40</p>
        </div>
    </div>
</div>
<div class="productlist">
    <div class="product">
        <img src="\assets\images\grid1.jpg" alt="apple">
        <div class="price">
            <p style="margin-left: 5%;">Apple</p>
            <p style="margin-left: auto;margin-right: 5%;">$40</p>
        </div>
    </div>
</div>
<div class="productlist">
    <div class="product">
        <img src="\assets\images\grid1.jpg" alt="apple">
        <div class="price">
            <p style="margin-left: 5%;">Apple</p>
            <p style="margin-left: auto;margin-right: 5%;">$40</p>
        </div>
    </div>
</div>
<div class="productlist">
    <div class="product">
        <img src="\assets\images\grid1.jpg" alt="apple">
        <div class="price">
            <p style="margin-left: 5%;">Apple</p>
            <p style="margin-left: auto;margin-right: 5%;">$40</p>
        </div>
    </div>
</div>
</div>
